
.frame-container {
    display: flex;
    justify-content: center;
}

.img-frame {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ccc; /* Change the color and thickness of the border as needed */
}

    .img-frame img {
        width: 100%;
        height: auto;
    }

.row {
    height: 40vh;
    display: flex;
    align-items: center;
}

.aurora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}