.navbar-child2 {
    height: 122px;
    width: 1440px;
    position: relative;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
}

.brickhaven-1-icon3,
.orders2 {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.brickhaven-1-icon3 {
    height: 75px;
    width: 225.4px;
    object-fit: cover;
}

.orders2 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 81px;
}

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-8xs) 0 0;
}

.products3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 111px;
    cursor: pointer;
    z-index: 1;
}

.products-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
}

.users2 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 66px;
    cursor: pointer;
    z-index: 1;
}

.users-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-8xs) 0 0;
}

.log-out4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 92px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
}

.frame-parent20 {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.navbar-inner1,
.navbar4 {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
}

.navbar-inner1 {
    margin: 0;
    width: 462px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-lg);
}

.navbar4 {
    align-self: stretch;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-4xl) var(--padding-29xl) var(--padding-5xl) var(--padding-14xl);
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
}

.back-icon1 {
    height: 46px;
    width: 44px;
    position: relative;
    object-fit: cover;
}

.back1 {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
}

.back-group,
.back-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.back-wrapper {
    flex: 1;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
}

.back-group {
    width: 125px;
    flex-direction: row;
    gap: var(--gap-8xs);
    cursor: pointer;
}

.addedit-product {
    margin: 0;
    align-self: stretch;
    height: 85px;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
}

.frame-parent21,
.year-input {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.year-input {
    width: 722px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 60px;
    color: var(--color-dimgray);
    font-family: var(--font-inter);
}

.frame-parent21 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.product-name1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 81px;
}

.input,
.secondary-color-picker {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-100);
    min-width: 210px;
}

.secondary-color-picker {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.year1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 25px;
}

.input1,
.secondary-color-picker1 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input1 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-100);
    min-width: 210px;
}

.secondary-color-picker1 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.number-of-parts1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 93px;
}

.input2,
.secondary-color-picker2 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input2 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-100);
    min-width: 210px;
}

.secondary-color-picker2 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.price2 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 28px;
}

.input3,
.secondary-color-picker3 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input3 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-darkslategray-100);
    min-width: 210px;
}

.secondary-color-picker3 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.primary-color1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 78px;
}

.input4,
.secondary-color-picker4 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input4 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    min-width: 210px;
}

.secondary-color-picker4 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.secondary-color1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 93px;
}

.input5,
.secondary-color-picker5 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input5 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    min-width: 210px;
}

.secondary-color-picker5 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.description1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 64px;
}

.input6,
.secondary-color-picker6 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input6 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    min-width: 210px;
}

.secondary-color-picker6 {
    flex-direction: column;
    gap: var(--gap-8xs);
}

.category1 {
    position: relative;
    font-size: var(--font-size-xs);
    font-weight: 600;
    font-family: var(--font-mulish);
    color: var(--color-darkslategray-300);
    text-align: left;
    display: inline-block;
    min-width: 52px;
}

.input7,
.secondary-color-picker7 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input7 {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke);
    height: 36px;
    border-radius: var(--br-10xs);
    flex-direction: row;
    padding: 0 var(--padding-xs);
    box-sizing: border-box;
    font-family: var(--font-mulish);
    font-size: var(--font-size-xs);
    color: var(--color-gray-100);
    min-width: 210px;
}

.secondary-color-picker7 {
    flex-direction: column;
    padding: 0 0 15px;
    gap: var(--gap-8xs);
}

.label {
    position: relative;
    font-size: var(--font-size-sm);
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    font-family: var(--font-mulish);
    color: var(--color-white);
    text-align: left;
    min-width: 54px;
}

.cta {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-xl);
    background-color: var(--color-orange);
    align-self: stretch;
    border-radius: var(--br-10xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

    .cta:hover {
        background-color: var(--color-chocolate);
    }

.price-input,
.primary-color-picker {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}

.primary-color-picker {
    margin: 0;
    width: 350px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 28px;
}

.price-input {
    width: 728px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}

.product-and-year-inputs {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-3xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--color-darkgray);
    font-family: var(--font-poppins);
}

.add-edit-product-label,
.addedit-products {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.add-edit-product-label {
    width: 1117px;
    flex-direction: row;
    padding: 0 var(--padding-14xl);
    max-width: 100%;
}

.addedit-products {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: 0 0 41px;
    gap: 27px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 925px) {
    .navbar4 {
        padding-right: var(--padding-5xl);
        box-sizing: border-box;
    }

    .addedit-product {
        font-size: 48px;
    }

    .frame-parent21 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .navbar-inner1 {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .back1 {
        font-size: var(--font-size-2xl);
    }

    .addedit-product {
        font-size: 36px;
    }
}
