h1.login-h1 {
    font-size: 3.5rem;
    text-align: center;
}

h1.fp-h1 {
    font-size: 3rem;
    text-align: center;
}

.responsive-img {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 50vw;
}

.lego-guy-sign-in {
    height: 100vh;
    max-width: 100%;
    min-width: 0%;
}

.side-img {
    padding-top: 8rem;
    max-width: 100%;
    min-width: 0%;
}

.center-form {
    display: flex;
    justify-content: center;
    max-width: 50vw;
}

.form-container {
    max-width: 40rem;
    border-radius: 2rem;
    padding: 2rem 5rem 2rem 5rem;
    margin: 2rem 4rem 2rem 6rem;
}

.external-buttons-container {
    display: flex;
    justify-content: space-evenly;
}

.new-user-container {
    display: flex;
    justify-content: center;
}

.sign-in-container {
    display: flex;
    align-content: center;
    padding-bottom: 3rem;
    height: 90vh;
}

.grey-line {
    border-bottom: 2px solid #ccc;
    padding: .5rem;
    margin: 1rem;
}

img.auth-icons {
    height: 2rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(99deg) brightness(102%) contrast(105%);
}