.privacy2,
.products {
    position: relative;
    display: none;
    min-width: 87px;
}

.products {
    min-width: 111px;
}

.about2,
.log-out2,
.orders,
.users {
    position: relative;
    display: none;
    min-width: 81px;
}

.about2,
.log-out2,
.users {
    min-width: 66px;
}

.about2,
.log-out2 {
    min-width: 72px;
}

.log-out2 {
    min-width: 92px;
    white-space: nowrap;
}

.shopping-cart-icon3 {
    height: 64px;
    width: 60px;
    position: relative;
    object-fit: cover;
    display: none;
}

.navbar-child1 {
    height: 122px;
    width: 1440px;
    position: relative;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
}

.brickhaven-1-icon2,
.orders1 {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.brickhaven-1-icon2 {
    height: 75px;
    width: 225.4px;
    object-fit: cover;
}

.orders1 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 81px;
}

.orders-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-8xs) 0 0;
}

.products1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    min-width: 111px;
    z-index: 1;
}

.products-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
}

.users1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 66px;
    cursor: pointer;
    z-index: 1;
}

.users-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-8xs) 0 0;
}

.log-out3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 92px;
    white-space: nowrap;
    cursor: pointer;
    z-index: 1;
}

.frame-parent9 {
    margin: 0;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.frame-nav,
.navbar3 {
    display: flex;
    box-sizing: border-box;
}

.frame-nav {
    margin: 0;
    width: 462px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-lg);
    max-width: 100%;
}

.navbar3 {
    margin-top: -144px;
    margin-right: -40px;
    width: 1440px;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--padding-4xl) var(--padding-29xl) var(--padding-5xl) var(--padding-14xl);
    top: -144;
    z-index: 99;
    position: sticky;
    max-width: 103%;
    flex-shrink: 0;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.products2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.products-container {
    width: 905px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
}

.div1,
.show {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 33px;
}

.div1 {
    min-width: 8px;
}

.bicaret-down-fill-icon {
    height: 8px;
    width: 8px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.parent7 {
    flex: 0.5263;
    border-radius: var(--br-5xs);
    background-color: var(--color-gainsboro);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs);
    gap: var(--gap-9xs);
}

.entries {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.show-parent {
    width: 137px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
}

.akar-iconssearch {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.search {
    width: calc(100% - 32px);
    border: 0;
    outline: 0;
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xs);
    background-color: transparent;
    height: 18px;
    flex: 1;
    position: relative;
    color: var(--color-darkgray);
    text-align: left;
    display: inline-block;
    min-width: 250px;
    max-width: calc(100% - 24px);
    padding: 0;
}

.akar-iconssearch-parent,
.frame-parent10 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}

.akar-iconssearch-parent {
    flex: 1;
    border-radius: var(--br-5xs);
    border: 1px solid var(--color-darkgray);
    box-sizing: border-box;
    align-items: center;
    padding: var(--padding-5xs);
    gap: var(--gap-5xs);
    min-width: 317px;
}

.frame-parent10 {
    width: 649px;
    align-items: flex-start;
    gap: var(--gap-5xl);
}

.fluentadd-16-filled-icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.add-product {
    position: relative;
    font-size: var(--font-size-xs);
    display: inline-block;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    min-width: 77px;
}

.div,
.fluentadd-16-filled-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fluentadd-16-filled-parent {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-xs);
    background-color: var(--color-orange);
    border-radius: var(--br-5xs);
    justify-content: center;
    gap: var(--gap-5xs);
    white-space: nowrap;
}

    .fluentadd-16-filled-parent:hover {
        background-color: var(--color-chocolate);
    }

.div {
    align-self: stretch;
    background-color: var(--color-white);
    justify-content: space-between;
    padding: var(--padding-base);
    box-sizing: border-box;
    max-width: 100%;
    gap: var(--gap-xl);
}

.product-id {
    flex: 1;
    position: relative;
}

.product-id-wrapper {
    width: 110px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.product {
    flex: 1;
    position: relative;
}

.product-wrapper {
    width: 142px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.year {
    flex: 1;
    position: relative;
}

.year-wrapper {
    width: 67px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.number-of-parts {
    position: relative;
    display: inline-block;
    min-width: 119px;
}

.number-of-parts-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.price1 {
    flex: 1;
    position: relative;
}

.price-wrapper {
    width: 86px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.primary-color {
    flex: 1;
    position: relative;
}

.primary-color-wrapper {
    width: 125px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.secondary-color {
    flex: 1;
    position: relative;
}

.secondary-color-wrapper {
    width: 146px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.description {
    width: 146px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.description-wrapper {
    width: 210px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.category {
    width: 146px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.category-wrapper {
    width: 111px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
}

.action {
    flex: 1;
    position: relative;
}

.action-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.frame-parent11 {
    width: 1359px;
    background-color: var(--color-white);
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashh0angggseio-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.death-star {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashh0angggseio-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.frame {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div4 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper1 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.light-gray {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.light-gray-wrapper {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-2 {
    margin: 0;
}

.edit-1-2,
.trash-2-2-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent12,
.frame-wrapper10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.frame-wrapper10 {
    padding: 0 var(--padding-11xs-5);
    cursor: pointer;
}

.frame-parent12 {
    width: 1359px;
    background-color: var(--color-oldlace-200);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper2 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashgi3iuj1fwxi-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashgi3iuj1fwxi-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div6 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper3 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc1 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-container {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div7 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper4 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray1 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-container {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.white {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.white-wrapper {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego1 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-container {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars4 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-container {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-21 {
    margin: 0;
}

.edit-1-21,
.trash-2-2-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-group,
.frame-parent13,
.frame-wrapper11 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-1-2-group {
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent13,
.frame-wrapper11 {
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent13 {
    width: 1359px;
    background-color: var(--color-white);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div8 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper5 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashynytv1dvmpi-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name1 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashynytv1dvmpi-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div9 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper6 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-frame {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div10 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper7 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.red {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.red-wrapper {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-frame {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-frame {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-frame {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-22 {
    margin: 0;
}

.edit-1-22,
.trash-2-2-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent14,
.frame-wrapper12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent14 {
    width: 1359px;
    background-color: var(--color-oldlace-200);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div11 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper8 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashzmeftu11hpc-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashzmeftu11hpc-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div12 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper9 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper1 {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div13 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper10 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.blue {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.blue-wrapper {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper1 {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper1 {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars6 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper1 {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-23 {
    margin: 0;
}

.edit-1-23,
.trash-2-2-icon3 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent15,
.frame-wrapper13 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent15 {
    width: 1359px;
    background-color: var(--color-white);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div14 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper11 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashlumj2zv5hue-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashlumj2zv5hue-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div15 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper12 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc4 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper2 {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div16 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper13 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.black {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.black-wrapper {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray4 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper2 {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego4 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper2 {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars7 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper2 {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-24 {
    margin: 0;
}

.edit-1-24,
.trash-2-2-icon4 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent16,
.frame-wrapper14 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent16 {
    width: 1359px;
    background-color: var(--color-oldlace-100);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div17 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper14 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashztxed1cpb1e-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name4 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashztxed1cpb1e-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div18 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper15 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper3 {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div19 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper16 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper3 {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.black1 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.black-container {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper3 {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars8 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper3 {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-25 {
    margin: 0;
}

.edit-1-25,
.trash-2-2-icon5 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent17,
.frame-wrapper15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent17 {
    width: 1359px;
    background-color: var(--color-white);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.div20 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper17 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
}

.unsplashl0xotanv94y-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-clock {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashl0xotanv94y-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div21 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper18 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc6 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper4 {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div22 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper19 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray6 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper4 {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.black2 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.black-frame {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego6 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper4 {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars9 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper4 {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-26 {
    margin: 0;
}

.edit-1-26,
.trash-2-2-icon6 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-parent18,
.frame-wrapper16 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent18 {
    width: 1359px;
    background-color: var(--color-oldlace-100);
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.span,
.span1 {
    font-weight: 500;
}

.span1 {
    font-family: var(--font-poppins);
}

.div23 {
    flex: 1;
    position: relative;
}

.wrapper20 {
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-family: var(--font-montserrat);
}

.unsplashkyw1eux1j7y-icon {
    height: 32px;
    width: 32px;
    position: relative;
    border-radius: var(--br-5xs);
    object-fit: cover;
}

.lego-name5 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.unsplashkyw1eux1j7y-parent {
    width: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.div24 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.wrapper21 {
    width: 67px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.pc7 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.pc-wrapper5 {
    width: 119px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.div25 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.wrapper22 {
    width: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dark-gray7 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.dark-gray-wrapper5 {
    width: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.black3 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.black-wrapper1 {
    width: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-new-lego7 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.my-new-lego-death-star-no-w-wrapper5 {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.star-wars10 {
    flex: 1;
    position: relative;
    font-weight: 500;
}

.star-wars-wrapper5 {
    width: 111px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.edit-1-27 {
    margin: 0;
}

.edit-1-27,
.trash-2-2-icon7 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.edit-1-2-parent5,
.frame-wrapper17 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-1-2-parent5 {
    justify-content: flex-start;
    gap: var(--gap-base);
}

.frame-wrapper17 {
    justify-content: center;
    padding: 0 var(--padding-11xs-5);
}

.frame-parent19,
.table1 {
    width: 1359px;
    display: flex;
}

.frame-parent19 {
    background-color: var(--color-white);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
}

.table1 {
    overflow-x: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    font-size: var(--font-size-sm);
}

.div26,
.previous {
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.previous {
    text-align: left;
    display: inline-block;
    min-width: 52px;
}

.div26 {
    flex: 1;
}

.product-table {
    width: 31px;
    border-radius: var(--br-5xs);
    background-color: var(--color-orange);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs);
    box-sizing: border-box;
    color: var(--color-white);
}

.div27 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.product-table1 {
    width: 31px;
    border-radius: var(--br-5xs);
    background-color: var(--color-gainsboro);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs);
    box-sizing: border-box;
    color: var(--color-black);
}

.div28 {
    flex: 1;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.product-table2 {
    width: 31px;
    border-radius: var(--br-5xs);
    background-color: var(--color-gainsboro);
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-4xs);
    box-sizing: border-box;
    color: var(--color-black);
}

.next {
    position: relative;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    min-width: 27px;
    white-space: nowrap;
}

.next-nav,
.previous-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.previous-parent {
    overflow-x: auto;
    gap: var(--gap-xs);
}

.next-nav {
    align-self: stretch;
    background-color: var(--color-white);
    padding: var(--padding-base) var(--padding-xl);
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-darkgray);
    font-family: var(--font-poppins);
}

.frame-main,
.products-table,
.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table {
    align-self: stretch;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.frame-main,
.products-table {
    box-sizing: border-box;
}

.frame-main {
    width: 1379px;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-xl);
    gap: var(--gap-12xs);
    max-width: 100%;
    flex-shrink: 0;
    text-align: left;
    font-size: 50px;
    color: var(--color-black);
    font-family: var(--font-poppins);
}

.products-table {
    width: 100%;
    height: 1024px;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-end;
    padding: 143px var(--padding-19xl) var(--padding-12xl) 2px;
    gap: var(--gap-3xl);
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 900px) {
    .navbar3 {
        padding-right: var(--padding-5xl);
        box-sizing: border-box;
    }

    .products2 {
        font-size: var(--font-size-21xl);
    }

    .div {
        flex-wrap: wrap;
    }

    .products-table {
        height: auto;
    }
}

@media screen and (max-width: 675px) {
    .frame-nav {
        display: none;
    }

    .navbar3 {
        width: 978px;
    }

    .frame-parent10 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .products2 {
        font-size: var(--font-size-11xl);
    }

    .next-nav {
        gap: 334px;
    }
}
