.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*.lego-set {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.lego-set img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.lego-set h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #9E3500;
}

.lego-set h3 {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.lego-set .btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lego-set .btn:hover {
    background-color: #0056b3;
}

.lego-set h4 {
    font-size: 14px;
}*/




.width {
    margin-left: 10px;
    margin_right: 20px;
}

/*INDEX PAGE STYLING*/
.center {
    padding-top: 8px;
    text-align: center;
}

.prod {
    padding: 10px;
}

/* Basic styling */
.products-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 30px 0;
    scrollbar-color: #FCAB22 #FFC96E;
}

.product {
    display: inline-block;
    width: 400px; /* Adjust width as needed */
    margin-right: 20px;
}

.product img {
    height: 300px;
    width: 100%;
    margin-right: 5px;
}

.spacing {
    margin-left: 20px;
    margin-right: 20px;
}

.page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
 
}


/*PRODUCT CSS*/
.product-image {
    max-height: 10rem;
    max-width: 10rem;

}

.product-image-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 10rem;
    height: 10rem;

}

.item {
    width: 20rem;
    height: 30rem;
    border: 1px solid #ccc;
    border-radius: 2rem;
    margin: 1rem;
}

.show-option {
    text-decoration: none;
    color: #FFF;
    background-color: #FCAB22;
    width: 2rem;
    height: 2rem;
    border-radius: .6rem;
    text-align: center;
}