.navbar-item {
    height: 122px;
    width: 1440px;
    position: relative;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    max-width: 100%;
}

.brickhaven-1-icon1,
.shop1 {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.brickhaven-1-icon1 {
    height: 75px;
    width: 225.4px;
    object-fit: cover;
}

.shop1 {
    display: inline-block;
    min-width: 67px;
}

.shop-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 7px 0 0;
}

.about1 {
    position: relative;
    display: inline-block;
    min-width: 72px;
    cursor: pointer;
    z-index: 1;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
}

.privacy1 {
    position: relative;
    display: inline-block;
    min-width: 87px;
    cursor: pointer;
    z-index: 1;
}

.privacy-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-3xs) 0 0;
}

.log-out1 {
    position: relative;
    white-space: pre-wrap;
    display: inline-block;
    min-width: 98px;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 1;
}

.log-out-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
}

.shopping-cart-icon2 {
    height: 64px;
    width: 60px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    z-index: 1;
}

.frame-parent2,
.frame-parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.frame-parent3 {
    flex: 1;
    gap: 23px;
}

.frame-parent2 {
    align-self: stretch;
    gap: 35px;
}

.navbar-inner,
.navbar2 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.navbar-inner {
    width: 529px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
}

.navbar2 {
    align-self: stretch;
    background: linear-gradient(90deg, #e34749, #fcab22);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-4xl) var(--padding-21xl) var(--padding-5xl) var(--padding-14xl);
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-poppins);
}

.shopping-cart2 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 105%;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.shopping-cart-wrapper {
    width: 1012px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) var(--padding-21xl);
    box-sizing: border-box;
    max-width: 100%;
    font-size: var(--font-size-21xl);
    color: var(--color-dimgray);
}

.item,
.price,
.quantity1,
.subtotal {
    position: relative;
    line-height: 105%;
    display: inline-block;
    min-width: 53px;
}

.price,
.quantity1,
.subtotal {
    min-width: 61px;
}

.quantity1,
.subtotal {
    min-width: 102px;
}

.subtotal {
    min-width: 100px;
}

.item-parent,
.item-price-quantity-subtotal-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

.item-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.item-price-quantity-subtotal-inner {
    width: 1028px;
    justify-content: flex-end;
    padding: 0 80px;
    box-sizing: border-box;
}

.item-price-quantity-subtotal-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--t29-light-teal);
    box-sizing: border-box;
}

.item-price-quantity-subtotal {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-base);
    max-width: 100%;
}

.item-price-quantity-subtotal-wrapper {
    width: 1232px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 46px;
    box-sizing: border-box;
    max-width: 100%;
}

.frame-item {
    position: absolute;
    top: 0;
    left: 106.9px;
    background-color: var(--color-white);
    box-shadow: var(--cart-item-shadow);
    width: 64px;
    height: 106.9px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.item-image-icon {
    position: absolute;
    height: 75.94%;
    width: 37.42%;
    top: 11.41%;
    right: 31.52%;
    bottom: 12.66%;
    left: 31.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
}

.rectangle-parent {
    align-self: stretch;
    height: 64px;
    position: relative;
}

.add-to-cart-instance {
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini-1) 0 0;
    box-sizing: border-box;
}

.item-name1 {
    position: relative;
    letter-spacing: 0.06em;
    line-height: 133.5%;
    text-transform: uppercase;
    white-space: nowrap;
}

.item-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.jny,
.sku {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 44px;
}

.jny {
    min-width: 107px;
}

.item-name-parent,
.sku-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sku-parent {
    flex-direction: row;
    gap: var(--gap-8xs);
    font-size: var(--font-size-sm);
    color: var(--color-black);
}

.item-name-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
    text-align: left;
    color: var(--color-darkslategray-400);
}

.b,
.b1 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b {
    width: 16px;
    min-width: 16px;
}

.b1 {
    text-align: left;
    min-width: 49px;
}

.frame-wrapper1,
.parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent {
    flex-direction: row;
    gap: var(--gap-11xs);
}

.frame-wrapper1 {
    width: 164px;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
}

.dash-circle-icon {
    height: 24px;
    width: 24px;
    position: relative;
}

.b2 {
    flex: 1;
    position: relative;
    line-height: 105%;
}

.plus-circle-icon {
    height: 24px;
    width: 24px;
    position: relative;
}

.cart-counter,
.cart-counter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-counter {
    flex: 1;
    gap: var(--gap-base);
}

.cart-counter-wrapper {
    align-self: stretch;
    padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}

.b3,
.in-stock {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 133.5%;
    text-transform: uppercase;
    display: inline-block;
    min-width: 85px;
}

.b3 {
    line-height: 19px;
    color: var(--t29-teal);
    min-width: 11px;
}

.in-stock-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-7xs);
    text-align: left;
    font-size: var(--font-size-sm);
}

.cart-counter-dash-circle,
.cart-counter-dash-circle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-counter-dash-circle {
    width: 129px;
    gap: var(--gap-12xs);
}

.cart-counter-dash-circle-wrapper {
    width: 227px;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    text-align: center;
}

.b4,
.b5 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b4 {
    width: 16px;
    min-width: 16px;
}

.b5 {
    text-align: left;
    min-width: 17px;
}

.item-icon,
.item-icon-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.item-icon {
    flex-direction: row;
    gap: var(--gap-11xs);
}

.item-icon-wrapper {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
}

.add-to-cart-instance-parent {
    width: 995px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}

.shopping-cart-item-child {
    height: 1px;
    width: 1141px;
    position: relative;
    border-top: 1px solid var(--t29-light-teal);
    box-sizing: border-box;
    display: none;
    opacity: 0.3;
    max-width: 100%;
}

.frame-inner,
.shopping-cart-item {
    background-color: var(--color-white);
}

.shopping-cart-item {
    align-self: stretch;
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) 0 var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
    max-width: 100%;
}

.frame-inner {
    position: absolute;
    top: 0;
    left: 106.9px;
    box-shadow: var(--cart-item-shadow);
    width: 64px;
    height: 106.9px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.item-image-icon1 {
    position: absolute;
    height: 75.94%;
    width: 37.42%;
    top: 11.41%;
    right: 31.52%;
    bottom: 12.66%;
    left: 31.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
}

.rectangle-group {
    align-self: stretch;
    height: 64px;
    position: relative;
}

.frame-wrapper2 {
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini-1) 0 0;
    box-sizing: border-box;
}

.item-name3 {
    flex: 1;
    position: relative;
    letter-spacing: 0.06em;
    line-height: 133.5%;
    text-transform: uppercase;
}

.item-name2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.jny1,
.sku1 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 44px;
}

.jny1 {
    min-width: 106px;
}

.item-name-group,
.sku-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sku-group {
    flex-direction: row;
    gap: var(--gap-7xs);
    font-size: var(--font-size-sm);
    color: var(--color-black);
}

.item-name-group {
    width: 164px;
    flex-direction: column;
    gap: var(--gap-5xs);
    text-align: left;
    color: var(--color-darkslategray-400);
}

.b6,
.b7 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b6 {
    width: 16px;
    min-width: 16px;
}

.b7 {
    text-align: left;
    min-width: 54px;
}

.frame-wrapper3,
.group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.group {
    flex-direction: row;
    gap: var(--gap-11xs);
}

.frame-wrapper3 {
    width: 164px;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
}

.dash-circle-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
}

.b8 {
    flex: 1;
    position: relative;
    line-height: 105%;
}

.plus-circle-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
}

.cart-counter-container,
.cart-counter1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-counter1 {
    flex: 1;
    gap: var(--gap-base);
}

.cart-counter-container {
    align-self: stretch;
    padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}

.b9,
.in-stock1 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 133.5%;
    text-transform: uppercase;
    display: inline-block;
    min-width: 85px;
}

.b9 {
    line-height: 19px;
    color: var(--t29-teal);
    min-width: 11px;
}

.frame-parent6,
.frame-wrapper4,
.in-stock-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.in-stock-group {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-7xs);
    text-align: left;
    font-size: var(--font-size-sm);
}

.frame-parent6,
.frame-wrapper4 {
    flex-direction: column;
}

.frame-parent6 {
    width: 129px;
    gap: var(--gap-12xs);
}

.frame-wrapper4 {
    width: 227px;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    text-align: center;
}

.b10,
.b11 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b10 {
    width: 16px;
    min-width: 16px;
}

.b11 {
    text-align: left;
    min-width: 17px;
}

.container {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-11xs);
}

.container,
.frame-wrapper5,
.group-div {
    display: flex;
    align-items: flex-start;
}

.frame-wrapper5 {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.group-div {
    width: 995px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}

.shopping-cart-item-item {
    height: 1px;
    width: 1141px;
    position: relative;
    border-top: 1px solid var(--t29-light-teal);
    box-sizing: border-box;
    display: none;
    opacity: 0.3;
    max-width: 100%;
}

.shopping-cart-item1 {
    align-self: stretch;
    background-color: var(--color-white);
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) 0 var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
    max-width: 100%;
}

.rectangle-div {
    position: absolute;
    top: 0;
    left: 106.9px;
    background-color: var(--color-white);
    box-shadow: var(--cart-item-shadow);
    width: 64px;
    height: 106.9px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.item-image-icon2 {
    position: absolute;
    height: 75.94%;
    width: 37.42%;
    top: 11.41%;
    right: 31.52%;
    bottom: 12.66%;
    left: 31.06%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
}

.rectangle-container {
    align-self: stretch;
    height: 64px;
    position: relative;
}

.frame-wrapper6 {
    width: 121px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-mini-1) 0 0;
    box-sizing: border-box;
}

.item-name5 {
    flex: 1;
    position: relative;
    letter-spacing: 0.06em;
    line-height: 133.5%;
    text-transform: uppercase;
}

.item-name4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.jny2,
.sku2 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    min-width: 44px;
}

.jny2 {
    min-width: 104px;
}

.item-name-container,
.sku-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sku-container {
    flex-direction: row;
    gap: var(--gap-7xs);
    font-size: var(--font-size-sm);
    color: var(--color-black);
}

.item-name-container {
    width: 164px;
    flex-direction: column;
    gap: var(--gap-5xs);
    text-align: left;
    color: var(--color-darkslategray-400);
}

.b12,
.b13 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b12 {
    width: 16px;
    min-width: 16px;
}

.b13 {
    text-align: left;
    min-width: 49px;
}

.frame-wrapper7,
.parent1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent1 {
    flex-direction: row;
    gap: var(--gap-11xs);
}

.frame-wrapper7 {
    width: 164px;
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
}

.dash-circle-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
}

.b14 {
    flex: 1;
    position: relative;
    line-height: 105%;
}

.plus-circle-icon2 {
    height: 24px;
    width: 24px;
    position: relative;
}

.cart-counter-frame,
.cart-counter2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-counter2 {
    flex: 1;
    gap: var(--gap-base);
}

.cart-counter-frame {
    align-self: stretch;
    padding: 0 var(--padding-3xs) 0 var(--padding-4xs);
}

.b15,
.in-stock2 {
    position: relative;
    letter-spacing: 0.1em;
    line-height: 133.5%;
    text-transform: uppercase;
    display: inline-block;
    min-width: 85px;
}

.b15 {
    line-height: 19px;
    color: var(--t29-teal);
    min-width: 11px;
}

.frame-parent8,
.frame-wrapper8,
.in-stock-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.in-stock-container {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-7xs);
    text-align: left;
    font-size: var(--font-size-sm);
}

.frame-parent8,
.frame-wrapper8 {
    flex-direction: column;
}

.frame-parent8 {
    width: 129px;
    gap: var(--gap-12xs);
}

.frame-wrapper8 {
    width: 227px;
    padding: var(--padding-9xs) 0 0;
    box-sizing: border-box;
    text-align: center;
}

.b16,
.b17 {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b16 {
    width: 16px;
    min-width: 16px;
}

.b17 {
    text-align: left;
    min-width: 17px;
}

.parent2 {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-11xs);
}

.frame-parent7,
.frame-wrapper9,
.parent2 {
    display: flex;
    align-items: flex-start;
}

.frame-wrapper9 {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) 0 0;
}

.frame-parent7 {
    width: 995px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
}

.shopping-cart-item-inner {
    height: 1px;
    width: 1141px;
    position: relative;
    border-top: 1px solid var(--t29-light-teal);
    box-sizing: border-box;
    display: none;
    opacity: 0.3;
    max-width: 100%;
}

.shopping-cart-item-parent,
.shopping-cart-item2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.shopping-cart-item2 {
    align-self: stretch;
    background-color: var(--color-white);
    box-shadow: 0 6px 3px rgba(0, 0, 0, 0.03);
    flex-direction: row;
    padding: var(--padding-base) 0 var(--padding-5xl);
    box-sizing: border-box;
    gap: var(--gap-13xl);
}

.shopping-cart-item-parent {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-5xl);
}

.iconarrow {
    height: 42px;
    width: 38px;
    position: absolute;
    margin: 0 !important;
    top: 57px;
    left: 0;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}

.trash-icon,
.trash-icon1,
.trash-icon2 {
    width: 46px;
    height: 42px;
    position: relative;
    object-fit: cover;
}

.trash-icon2 {
    cursor: pointer;
}

.trash-button,
.trash-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.trash-button {
    gap: 87px;
}

.trash-button-wrapper {
    padding: 27px 0 0;
}

.frame-parent4,
.frame-parent5 {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent5 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 0 0 60px;
    box-sizing: border-box;
    position: relative;
    gap: var(--gap-8xs);
    text-align: right;
}

.frame-parent4 {
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-9xs);
}

.order-subtotal {
    flex: 1;
    min-width: 117px;
}

.b18,
.b19,
.order-subtotal {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b18 {
    width: 16px;
    min-width: 16px;
}

.b19 {
    text-align: left;
    min-width: 17px;
}

.order-subtotal-parent,
.parent3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent3 {
    padding: 0 var(--padding-46xl) 0 0;
    gap: var(--gap-11xs);
}

.order-subtotal-parent {
    align-self: stretch;
    flex-wrap: wrap;
    gap: var(--gap-smi);
}

.sales-tax {
    flex: 1;
    min-width: 119px;
}

.b20,
.b21,
.sales-tax {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b20 {
    width: 16px;
    min-width: 16px;
}

.b21 {
    text-align: left;
    min-width: 17px;
}

.parent4,
.sales-tax-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent4 {
    padding: 0 var(--padding-46xl) 0 0;
    gap: var(--gap-11xs);
}

.sales-tax-parent {
    width: 232px;
    gap: var(--gap-smi);
}

.shipping {
    flex: 1;
    min-width: 112px;
}

.b22,
.b23,
.shipping {
    position: relative;
    line-height: 105%;
    display: inline-block;
}

.b22 {
    width: 16px;
    min-width: 16px;
}

.b23 {
    text-align: left;
    min-width: 17px;
}

.parent5,
.shipping-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent5 {
    padding: 0 var(--padding-46xl) 0 0;
    gap: var(--gap-11xs);
}

.shipping-parent {
    width: 225px;
    gap: var(--gap-smi);
}

.b24,
.b25,
.order-total {
    position: relative;
    line-height: 105%;
}

.order-total {
    flex: 1;
}

.b24,
.b25 {
    display: inline-block;
}

.b24 {
    width: 16px;
    min-width: 16px;
}

.b25 {
    text-align: left;
    min-width: 17px;
}

.order-total-parent,
.parent6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.parent6 {
    padding: 0 var(--padding-46xl) 0 0;
    gap: var(--gap-11xs);
}

.order-total-parent {
    width: 252px;
    gap: var(--gap-smi);
}

.order-summary {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: var(--gap-base);
}

.checkout {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.1em;
    line-height: 19px;
    text-transform: uppercase;
    display: inline-block;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 91px;
}

.arrow-right-short-icon {
    width: 16px;
    height: 16px;
    position: relative;
}

.arrow-right-short-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs-5) 0 0;
}

.add-to-cart2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xs) var(--padding-lg);
    background-color: #e34749;
    border-radius: 20px;
    box-shadow: var(--cart-item-shadow);
    flex-direction: row;
    gap: 7px;
}

.add-to-cart-container,
.add-to-cart1,
.add-to-cart2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-to-cart-container {
    flex-direction: row;
    padding: 0 72px 0 71px;
}

.add-to-cart1 {
    width: 293px;
    flex-direction: column;
    gap: var(--gap-13xl);
}

.add-to-cart-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 722px;
    text-align: right;
}

.frame-section {
    width: 1251px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-12xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}

.shopping-cart-inner,
.shopping-cart1 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

.shopping-cart-inner {
    width: 1417px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
}

.shopping-cart1 {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-50xl);
    gap: 66px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
    .item-price-quantity-subtotal-wrapper {
        padding-left: var(--padding-4xl);
        padding-right: var(--padding-4xl);
        box-sizing: border-box;
    }

    .frame-parent5 {
        padding-left: var(--padding-11xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {
    .shopping-cart2 {
        font-size: var(--font-size-13xl);
        line-height: 34px;
    }

    .item-price-quantity-subtotal-inner {
        padding-left: var(--padding-21xl);
        padding-right: var(--padding-21xl);
        box-sizing: border-box;
    }

    .add-to-cart-instance-parent,
    .frame-parent7,
    .group-div {
        flex-wrap: wrap;
    }

    .shopping-cart-item-parent {
        min-width: 100%;
    }

    .add-to-cart-wrapper {
        padding-left: 361px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 750px) {
    .frame-parent2 {
        display: none;
        gap: var(--gap-mid);
    }

    .navbar-inner {
        width: 0;
    }

    .item-parent {
        flex-wrap: wrap;
    }

    .shopping-cart-item,
    .shopping-cart-item1,
    .shopping-cart-item2 {
        gap: var(--gap-base);
    }

    .add-to-cart-wrapper {
        padding-left: 180px;
        box-sizing: border-box;
    }

    .frame-section {
        gap: var(--gap-mini);
    }

    .shopping-cart1 {
        gap: 33px;
    }
}

@media screen and (max-width: 450px) {
    .shopping-cart2 {
        font-size: var(--font-size-5xl);
        line-height: 25px;
    }

    .item,
    .item-name1,
    .price,
    .quantity1,
    .subtotal {
        font-size: var(--font-size-lgi);
        line-height: 20px;
    }

    .item-name1 {
        line-height: 26px;
    }

    .b,
    .b1,
    .b2,
    .b4,
    .b5,
    .item-name3 {
        font-size: var(--font-size-lgi);
        line-height: 20px;
    }

    .item-name3 {
        line-height: 26px;
    }

    .b10,
    .b11,
    .b6,
    .b7,
    .b8,
    .item-name5 {
        font-size: var(--font-size-lgi);
        line-height: 20px;
    }

    .item-name5 {
        line-height: 26px;
    }

    .b12,
    .b13,
    .b14,
    .b16,
    .b17,
    .b18,
    .b19,
    .b20,
    .b21,
    .b22,
    .b23,
    .b24,
    .b25,
    .order-subtotal,
    .order-total,
    .sales-tax,
    .shipping {
        font-size: var(--font-size-lgi);
        line-height: 20px;
    }

    .add-to-cart-container {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .add-to-cart1 {
        gap: var(--gap-base);
    }

    .add-to-cart-wrapper {
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }

    .shopping-cart1 {
        gap: var(--gap-base);
    }
}
