html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* PRIVACY POLICY VIEW */
.navbar {
    background: linear-gradient(to right, #E34749, #FCAB22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.brickhaven-img {
    height: 5rem;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
}

.nav-item {
    font-size: 1.3rem;
    list-style: none;
    display: inline-block;
}

.nav-link {
    color: #FFFFFF;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: border-bottom 300ms ease; /* Add transition property */
}

.nav-link:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.nav-link.active {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}


/* PRIVACY POLICY VIEW */
.privacy-policy-container {
    border: 0.1rem solid #ccc;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
    border-radius: 2rem;
    padding: 2rem 3rem 2rem 4rem;
    margin: 2rem 2rem 2rem 4rem;
    max-height: 33rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    font-family: 'BatmanForeverAlternate', sans-serif;
}

.privacy-hero {
    width: 100%;
}

/* LANDING PAGE */
.hero {
    /*background-image: url('/assets/batman-bg.jpg');*/ /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    /*background-size: cover;
    background-position: center;*/
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #555555;
}

    .hero h1 {
        font-size: 3em;
        margin: 10px;
    }

    .hero h4 {
        font-size: 1.5em;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .button {
        padding: .8rem 1.5rem;
        font-size: 1.2em;
        background-color: #FCAB22;
        color: #FFFFFF;
        border-radius: .7rem;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 400ms, color 400ms;
        font-weight: 500;
    }

.button:hover {
    background-color: #FFC96E;
    color: #555555;
}