.not-found-alert {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-alert-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Base styles for the table */
.table-container {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
}

.product-table-unlike-any-other {
    border-collapse: collapse;
    width: 100%;
}

    /* Styles for table header */
    .product-table-unlike-any-other th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
    }

    /* Styles for table body */
    .product-table-unlike-any-other td {
        border: 1px solid #ddd;
        padding: .5rem 1rem;
        text-align: center;
    }

    .product-table-unlike-any-other tr {
        height: 5rem;
        overflow: hidden;
    }

    /* Alternate row color */
    .product-table-unlike-any-other tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Hover effect */
    .product-table-unlike-any-other tr:hover {
        background-color: #f2f2f2;
    }

.edit-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #FCAB22;
    color: #FFFFFF;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 400ms, color 400ms;
    font-weight: 500;
}
.edit-button:hover {
    background-color: #FFC96E;
    color: #FFFFFF;
}

.delete-button {
    border: none;
    background-color:rgba(0, 0, 0, 0);
}

.trash-button {
    height: 2.3rem;
}
    .trash-button:hover {
        -webkit-animation: wobble-hor-bottom 0.8s both;
        animation: wobble-hor-bottom 0.8s both;
    }

.edit-delete-buttons-container {
    display: flex;
    justify-content: space-between;
}

.corner-button {
    position: absolute;
    top: 10rem;
    left: 2rem;
}

.button-bar {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 2rem;
}

.center-admin-form {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.admin-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    min-width: 30rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:1rem;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    padding: 0 2rem 2rem 2rem;
}

.contain-description {
    max-height: 11rem;
    overflow-y: auto;
    scrollbar-color: #FCAB22 #FFC96E;
    scrollbar-width: thin;
}

h1.admin-table-header {
    text-align: center;
    color: #777;
    padding-top: 2rem;
}

.create-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #FCAB22;
    color: #FFFFFF;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 400ms, color 400ms;
    font-weight: 500;
}

.create-button:hover {
    background-color: #FFC96E;
    color: #FFFFFF;
}

.cancel-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: #E34749;
    color: #FFFFFF;
    border: none;
    border-radius: .7rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 400ms, color 400ms;
    font-weight: 500;
}
    .cancel-button:hover {
        background-color: #FF7F7F;
        color: #FFFFFF;
    }


/* CREAT PRODUCT VIEW */


/* ----------------------------------------------
 * Generated by Animista on 2024-4-11 13:41:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(5px) rotate(6deg);
        transform: translateX(5px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-5px) rotate(-3.6deg);
        transform: translateX(-5px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(3px) rotate(2.4deg);
        transform: translateX(3px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-10px) rotate(-6deg);
        transform: translateX(-10px) rotate(-6deg);
    }

    30% {
        -webkit-transform: translateX(5px) rotate(6deg);
        transform: translateX(5px) rotate(6deg);
    }

    45% {
        -webkit-transform: translateX(-5px) rotate(-3.6deg);
        transform: translateX(-5px) rotate(-3.6deg);
    }

    60% {
        -webkit-transform: translateX(3px) rotate(2.4deg);
        transform: translateX(3px) rotate(2.4deg);
    }

    75% {
        -webkit-transform: translateX(-2px) rotate(-1.2deg);
        transform: translateX(-2px) rotate(-1.2deg);
    }
}
