@model CreateRoleViewModel

@{
    ViewBag.Title = "Create New Role";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="home-icon-nav" /></button>

<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Create New Role</h1><br />
        <form asp-action="CreateRole" method="post" class="">
        <input asp-for="RoleName" class="" style="margin-bottom:10px;" placeholder="Name of new role" required>
        <br /><br />
        <div class="d-flex justify-content-evenly">
            <button type="submit" class="create-button" style="width:auto">Create</button>
            <button type="button" class="cancel-button" style="width:auto" onclick="history.back()">Cancel</button>
        </div>
        </form>
    </div>
</div>


