@model EditProductViewModel

@{
    ViewBag.Title = "Edit Product";
}

<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Edit Product</h1>

<form method="post" class="" asp-action="EditProduct" asp-controller="Administration">
    <input type="hidden" asp-for="Id" />

    <div class="">
        <label asp-for="Name" class=""></label>

        <div class="">
            <input asp-for="Name" class="">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="">
        <label asp-for="Year" class=""></label>

        <div class="">
            <input asp-for="Year" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="NumParts" class=""></label>

        <div class="">
            <input asp-for="NumParts" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Price" class=""></label>

        <div class="">
            <input asp-for="Price" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="ImgLink" class=""></label>

        <div class="">
            <input asp-for="ImgLink" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="PrimaryColor" class=""></label>

        <div class="">
            <input asp-for="PrimaryColor" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="SecondaryColor" class=""></label>

        <div class="">
            <input asp-for="SecondaryColor" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Description" class=""></label>

        <div class="">
            <input asp-for="Description" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Category" class=""></label>

        <div class="">
            <input asp-for="Category" class="">
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="">
        <div class="">
            <button type="submit" class="create-button">Update</button>

            <button type="button" class="cancel-button" style="width:auto" onclick="history.back()">Cancel</button>
        </div>
    </div>
</form>
    </div>
</div>