@model EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Edit User</h1>

<form method="post" class="">
    <input type="hidden" asp-for="Id" />

    <div class="">
        <label asp-for="Email" class=""></label>

        <div class="">
            <input asp-for="Email" class="">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="">
        <label asp-for="UserName" class=""></label>

        <div class="">
            <input asp-for="UserName" class="">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="">
        <label asp-for="FirstName" class=""></label>

        <div class="">
            <input asp-for="FirstName" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="LastName" class=""></label>

        <div class="">
            <input asp-for="LastName" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Birthday" class=""></label>

        <div class="">
            <input asp-for="Birthday" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="ResidenceCountry" class=""></label>

        <div class="">
            <input asp-for="ResidenceCountry" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Gender" class=""></label>

        <div class="">
            <input asp-for="Gender" class="">
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="card">
        <div class="card-header">
            <h3>User Roles</h3>
        </div>

        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var role in Model.Roles)
                {
                    <h5 class="card-title">@role</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>

            <a asp-action="ManageUserRoles" asp-controller="Administration" asp-route-UserId="@Model.Id" class="create-button">Manage Roles</a>

    </div><br />

    <div class="">
        <div class="">
            <button type="submit" class="create-button">Update</button>

            <button type="button" class="cancel-button" style="width:auto" onclick="history.back()">Cancel</button>
        </div>
    </div>
</form>
</div>
</div>
<br /><br />