@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="home-icon-nav" /></button>


<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Edit Role</h1>

<form method="post" class="">
    <div class="">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Id" class=""></label>
        <div class="">
            <input asp-for="Id" disabled class="">
        </div>
    </div>
    <div class="">
        <label asp-for="RoleName" class=""></label>
        <div class="">
            <input asp-for="RoleName" class="">
            <span asp-validation-for="RoleName" class=""></span>
        </div>
    </div>

    <div asp-validation-summary="All" class=""></div>

    <div class="">
        <div class="">
            <button type="submit" class="create-button">Update</button>
            <a asp-action="ListRoles" class="cancel-button">Cancel</a>
        </div>
    </div>
</form>
</div>
</div>