@{
    ViewData["Title"] = "User Missing";
}
<a class="" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/circle-chevron-left.svg" class="home-icon-nav" /></a>

<div class="not-found-alert">
    <div class="not-found-alert-div">
        <h1>User Missing</h1>
        <h3>The system could not find a user with the information provided</h3>
        <br />
    </div>
</div>

