@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div>
                <h4 class="text-center">Visionary from the Start</h4>
                <p class="text-left">
                    Aurora's journey into the world of LEGO began at a young age, fueled by an insatiable passion for building and creating. As a child, she spent hours immersed in her LEGO sets, dreaming up worlds and intricate designs that captured the imagination.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center"></div>
        </div>
        <div class="col-md-3">
            <div>
                <h4 class="text-center">Hobbyist to Entrepreneur</h4>
                <p class="text-left">
                    What started as a childhood hobby soon blossomed into a lifelong passion. With determination and a vision to create a space where fellow LEGO enthusiasts could come together, Brick Haven was born.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <h4 class="text-center">Building Brick Haven</h4>
                <p class="text-left">
                    From humble beginnings, Brick Haven has grown into a destination for LEGO lovers of all ages. Under Aurora's guidance, Brick Haven has become more than just a store. Here, builders can unleash their creativity and connect with like-minded enthusiasts.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
 
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <h4 class="text-center">Commited to Creativity</h4>
                <p class="text-left">
                    Aurora leads Brick Haven with passion and purpose. Whether she's sourcing the latest LEGO sets or organizing community events, Aurora's goal remains the same: to inspire and empower others to build, create, and dream without limits.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="aurora">
    <div class="text-center"><h1 class="text-center">MEET AURORA BRICKWELL</h1></div><br />
    <div class="frame-container">
        <div class="img-frame">
            <img src="~/assets/aurora.jpg" />
        </div>
    </div>
</div>
