@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="addedit-products">
        <header class="navbar4">
            <div class="navbar-child2"></div>
            <img class="brickhaven-1-icon3"
                 loading="lazy"
                 alt=""
                 src="./public/brickhaven-1@2x.png"
                 id="brickhaven1Image" />

            <nav class="navbar-inner1">
                <nav class="frame-parent20">
                    <div class="orders-container">
                        <h1 class="orders2" id="ordersText">Orders</h1>
                    </div>
                    <div class="products-frame">
                        <h1 class="products3" id="productsText">Products</h1>
                    </div>
                    <div class="users-container">
                        <h1 class="users2" id="usersText">Users</h1>
                    </div>
                    <h1 class="log-out4" id="logOutText">Log Out</h1>
                </nav>
            </nav>
        </header>
        <main class="add-edit-product-label">
            <section class="product-and-year-inputs">
                <div class="frame-parent21">
                    <div class="back-group" id="groupContainer">
                        <img class="back-icon1"
                             loading="lazy"
                             alt=""
                             src="./public/back@2x.png" />

                        <div class="back-wrapper">
                            <h1 class="back1">Back</h1>
                        </div>
                    </div>
                    <div class="year-input">
                        <h1 class="addedit-product">Add/Edit Product</h1>
                    </div>
                </div>
                <div class="price-input">
                    <form class="primary-color-picker">
                        <div class="secondary-color-picker">
                            <div class="product-name1">Product Name</div>
                            <input class="input" placeholder="Product Name" type="text" />
                        </div>
                        <div class="secondary-color-picker1">
                            <div class="year1">Year</div>
                            <input class="input1" placeholder="YYYY" type="text" />
                        </div>
                        <div class="secondary-color-picker2">
                            <div class="number-of-parts1">Number of Parts</div>
                            <input class="input2"
                                   placeholder="Number of Parts"
                                   type="text" />
                        </div>
                        <div class="secondary-color-picker3">
                            <div class="price2">Price</div>
                            <input class="input3" placeholder="$0.00" type="text" />
                        </div>
                        <div class="secondary-color-picker4">
                            <div class="primary-color1">Primary Color</div>
                            <input class="input4" placeholder="Primary Color" type="text" />
                        </div>
                        <div class="secondary-color-picker5">
                            <div class="secondary-color1">Secondary Color</div>
                            <input class="input5"
                                   placeholder="Secondary Color"
                                   type="text" />
                        </div>
                        <div class="secondary-color-picker6">
                            <div class="description1">Description</div>
                            <input class="input6" placeholder="Description" type="text" />
                        </div>
                        <div class="secondary-color-picker7">
                            <div class="category1">Category</div>
                            <input class="input7" placeholder="Category" type="text" />
                        </div>
                        <button class="cta" id="cTA">
                            <b class="label">SUBMIT</b>
                        </button>
                    </form>
                </div>
            </section>
        </main>
    </div>

    <script>
        var brickhaven1Image = document.getElementById("brickhaven1Image");
        if (brickhaven1Image) {
            brickhaven1Image.addEventListener("click", function (e) {
                // Please sync "ADMIN Landing Page" to the project
            });
        }

        var ordersText = document.getElementById("ordersText");
        if (ordersText) {
            ordersText.addEventListener("click", function (e) {
                // Please sync "Orders Table" to the project
            });
        }

        var productsText = document.getElementById("productsText");
        if (productsText) {
            productsText.addEventListener("click", function (e) {
                window.location.href = "./products-table.html";
            });
        }

        var usersText = document.getElementById("usersText");
        if (usersText) {
            usersText.addEventListener("click", function (e) {
                // Please sync "Users Table" to the project
            });
        }

        var logOutText = document.getElementById("logOutText");
        if (logOutText) {
            logOutText.addEventListener("click", function (e) {
                // Please sync "Landing Page" to the project
            });
        }

        var groupContainer = document.getElementById("groupContainer");
        if (groupContainer) {
            groupContainer.addEventListener("click", function (e) {
                window.location.href = "./products-table.html";
            });
        }

        var cTA = document.getElementById("cTA");
        if (cTA) {
            cTA.addEventListener("click", function (e) {
                window.location.href = "./products-table.html";
            });
        }
    </script>
