@using Microsoft.AspNetCore.Identity
@model AddOrderViewModel
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@{
    var userDetail = await UserManager.GetUserAsync(User);
}

<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Confirm Order</h1>
<form method="post" class="">
    <div class="">
        <label asp-for="Date" class=""></label>
        <div class="">
                    <input asp-for="Date" class="" readonly><br />
            <span asp-validation-for="Date" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="Weekday" class=""></label>
        <div class="">
                    <input asp-for="Weekday" class="" readonly><br />
            <span asp-validation-for="Weekday" class=""></span>
        </div>
    </div>


    <div class="">
        <label asp-for="Time" class=""></label>
        <div class="">
                    <input asp-for="Time" class="" readonly><br />
            <span asp-validation-for="Time" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="CardType" class=""></label>
        <div class="">
            <select asp-for="CardType" class="">
                <option value="">Select One</option> <!-- Placeholder option -->
                <option value="Visa">Visa</option>
                <option value="MasterCard">MasterCard</option>
                    </select><br />
            <span asp-validation-for="CardType" class=""></span>
        </div>
    </div>


    <div class="">
        <label asp-for="EntryMode" class=""></label>
        <div class="">
            <select asp-for="EntryMode" class="">
                <option value="">Select One</option> <!-- Placeholder option -->
                <option value="PIN">PIN</option>
                <option value="TAP">TAP</option>
                <option value="CVVC">CVC</option>
                    </select><br />
            <span asp-validation-for="EntryMode" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="Amount" class=""></label>
        <div class="">
                    <input asp-for="Amount" class="" readonly><br />
            <span asp-validation-for="Amount" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="TransactionType" class=""></label>
        <div class="">
            <select asp-for="TransactionType" class="">
                <option value="">Select One</option> <!-- Placeholder option -->
                <option value="Online">Online</option>
                <option value="ATM">ATM</option>
                <option value="POS">POS</option>
                    </select><br />
            <span asp-validation-for="TransactionType" class=""></span>
        </div>
    </div>


    <div class="">
        <label asp-for="TransactionCountry" class=""></label>
        <div class="">
                    <input asp-for="TransactionCountry" class=""><br />
            <span asp-validation-for="TransactionCountry" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="BillingAddress" class=""></label>
        <div class="">
                    <input asp-for="BillingAddress" class=""><br />
            <span asp-validation-for="BillingAddress" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="Bank" class=""></label>
        <div class="">
            <select asp-for="Bank" class="">
                <option value="">Select One</option> <!-- Placeholder option -->
                <option value="RBS">RBS</option>
                <option value="Barclays">Barclays</option>
                <option value="Halifax">Halifax</option>
                <option value="Lloyds">Lloyds</option>
                <option value="Metro">Metro</option>
                <option value="Monzo">Monzo</option>
                <option value="HSBC">HSBC</option>
                    </select><br />
            <span asp-validation-for="Bank" class=""></span>
        </div>
            </div><br /><br />


    <div asp-validation-summary="All" class=""></div>

    <div class="form-group text-center">
        <button type="submit" class="button">Confirm Submission</button>
        <button type="button" class="button" style="width:auto" onclick="history.back()">Cancel</button>
    </div>
</form>
</div>
</div><br /><br />