@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="shopping-cart1">
        <header class="navbar2">
            <div class="navbar-item"></div>
            <img class="brickhaven-1-icon1"
                 loading="lazy"
                 alt=""
                 src="./public/brickhaven-1@2x.png"
                 id="brickhaven1Image" />

            <div class="navbar-inner">
                <div class="frame-parent2">
                    <div class="shop-wrapper">
                        <b class="shop1" id="sHOPText">SHOP</b>
                    </div>
                    <div class="about-wrapper">
                        <div class="about1" id="aboutText">About</div>
                    </div>
                    <div class="privacy-wrapper">
                        <div class="privacy1" id="privacyText">Privacy</div>
                    </div>
                    <div class="frame-parent3">
                        <div class="log-out-wrapper">
                            <div class="log-out1" id="logOutText">Log Out</div>
                        </div>
                        <img class="shopping-cart-icon2"
                             loading="lazy"
                             alt=""
                             src="./public/shopping-cart@2x.png"
                             id="shoppingCartImage" />
                    </div>
                </div>
            </div>
        </header>
        <footer class="shopping-cart-inner">
            <section class="frame-section">
                <div class="shopping-cart-wrapper">
                    <h2 class="shopping-cart2">Shopping Cart</h2>
                </div>
                <div class="frame-parent4">
                    <div class="item-price-quantity-subtotal-wrapper">
                        <div class="item-price-quantity-subtotal">
                            <div class="item-price-quantity-subtotal-inner">
                                <div class="item-parent">
                                    <b class="item">Item</b>
                                    <b class="price">Price</b>
                                    <b class="quantity1">Quantity</b>
                                    <b class="subtotal">Subtotal</b>
                                </div>
                            </div>
                            <div class="item-price-quantity-subtotal-child"></div>
                        </div>
                    </div>
                    <div class="frame-parent5">
                        <div class="shopping-cart-item-parent">
                            <div class="shopping-cart-item">
                                <div class="add-to-cart-instance-parent">
                                    <div class="add-to-cart-instance">
                                        <div class="rectangle-parent">
                                            <div class="frame-item"></div>
                                            <img class="item-image-icon"
                                                 loading="lazy"
                                                 alt=""
                                                 src="./public/itemimage.svg" />
                                        </div>
                                    </div>
                                    <div class="item-name-parent">
                                        <div class="item-name">
                                            <b class="item-name1">Death star</b>
                                        </div>
                                        <div class="sku-parent">
                                            <b class="sku">SKU#</b>
                                            <b class="jny">8675309JNY</b>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper1">
                                        <div class="parent">
                                            <b class="b">$</b>
                                            <b class="b1">1.02</b>
                                        </div>
                                    </div>
                                    <div class="cart-counter-dash-circle-wrapper">
                                        <div class="cart-counter-dash-circle">
                                            <div class="cart-counter-wrapper">
                                                <div class="cart-counter">
                                                    <img class="dash-circle-icon"
                                                         loading="lazy"
                                                         alt=""
                                                         src="./public/dashcircle.svg" />

                                                    <b class="b2">0</b>
                                                    <img class="plus-circle-icon"
                                                         loading="lazy"
                                                         alt=""
                                                         src="./public/pluscircle.svg" />
                                                </div>
                                            </div>
                                            <div class="in-stock-parent">
                                                <div class="in-stock">In-stock:</div>
                                                <b class="b3">6</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-icon-wrapper">
                                        <div class="item-icon">
                                            <b class="b4">$</b>
                                            <b class="b5">0</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-cart-item-child"></div>
                            </div>
                            <div class="shopping-cart-item1">
                                <div class="group-div">
                                    <div class="frame-wrapper2">
                                        <div class="rectangle-group">
                                            <div class="frame-inner"></div>
                                            <img class="item-image-icon1"
                                                 alt=""
                                                 src="./public/itemimage-1.svg" />
                                        </div>
                                    </div>
                                    <div class="item-name-group">
                                        <div class="item-name2">
                                            <b class="item-name3">LEgo name</b>
                                        </div>
                                        <div class="sku-group">
                                            <b class="sku1">SKU#</b>
                                            <b class="jny1">9021090BHS</b>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper3">
                                        <div class="group">
                                            <b class="b6">$</b>
                                            <b class="b7">2.05</b>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper4">
                                        <div class="frame-parent6">
                                            <div class="cart-counter-container">
                                                <div class="cart-counter1">
                                                    <img class="dash-circle-icon1"
                                                         alt=""
                                                         src="./public/dashcircle.svg" />

                                                    <b class="b8">0</b>
                                                    <img class="plus-circle-icon1"
                                                         alt=""
                                                         src="./public/pluscircle.svg" />
                                                </div>
                                            </div>
                                            <div class="in-stock-group">
                                                <div class="in-stock1">In-stock:</div>
                                                <b class="b9">4</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper5">
                                        <div class="container">
                                            <b class="b10">$</b>
                                            <b class="b11">0</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-cart-item-item"></div>
                            </div>
                            <div class="shopping-cart-item2">
                                <div class="frame-parent7">
                                    <div class="frame-wrapper6">
                                        <div class="rectangle-container">
                                            <div class="rectangle-div"></div>
                                            <img class="item-image-icon2"
                                                 alt=""
                                                 src="./public/itemimage-2.svg" />
                                        </div>
                                    </div>
                                    <div class="item-name-container">
                                        <div class="item-name4">
                                            <b class="item-name5">lego name</b>
                                        </div>
                                        <div class="sku-container">
                                            <b class="sku2">SKU#</b>
                                            <b class="jny2">1324651DAO</b>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper7">
                                        <div class="parent1">
                                            <b class="b12">$</b>
                                            <b class="b13">1.25</b>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper8">
                                        <div class="frame-parent8">
                                            <div class="cart-counter-frame">
                                                <div class="cart-counter2">
                                                    <img class="dash-circle-icon2"
                                                         alt=""
                                                         src="./public/dashcircle.svg" />

                                                    <b class="b14">0</b>
                                                    <img class="plus-circle-icon2"
                                                         alt=""
                                                         src="./public/pluscircle.svg" />
                                                </div>
                                            </div>
                                            <div class="in-stock-container">
                                                <div class="in-stock2">In-stock:</div>
                                                <b class="b15">5</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frame-wrapper9">
                                        <div class="parent2">
                                            <b class="b16">$</b>
                                            <b class="b17">0</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="shopping-cart-item-inner"></div>
                            </div>
                        </div>
                        <img class="iconarrow"
                             loading="lazy"
                             alt=""
                             src="./public/iconarrow.svg"
                             id="iconarrow" />

                        <div class="trash-button-wrapper">
                            <div class="trash-button">
                                <img class="trash-icon"
                                     loading="lazy"
                                     alt=""
                                     src="./public/trash@2x.png" />

                                <img class="trash-icon1" alt="" src="./public/trash@2x.png" />

                                <img class="trash-icon2"
                                     alt=""
                                     src="./public/trash@2x.png"
                                     id="trashIcon2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-to-cart-wrapper">
                    <div class="add-to-cart1">
                        <div class="order-summary">
                            <div class="order-subtotal-parent">
                                <b class="order-subtotal">Order Subtotal:</b>
                                <div class="parent3">
                                    <b class="b18">$</b>
                                    <b class="b19">0</b>
                                </div>
                            </div>
                            <div class="sales-tax-parent">
                                <b class="sales-tax">Sales Tax:</b>
                                <div class="parent4">
                                    <b class="b20">$</b>
                                    <b class="b21">0</b>
                                </div>
                            </div>
                            <div class="shipping-parent">
                                <b class="shipping">Shipping:</b>
                                <div class="parent5">
                                    <b class="b22">$</b>
                                    <b class="b23">0</b>
                                </div>
                            </div>
                            <div class="order-total-parent">
                                <b class="order-total">Order Total:</b>
                                <div class="parent6">
                                    <b class="b24">$</b>
                                    <b class="b25">0</b>
                                </div>
                            </div>
                        </div>
                        <div class="add-to-cart-container">
                            <button class="add-to-cart2">
                                <b class="checkout">checkout</b>
                                <div class="arrow-right-short-wrapper">
                                    <img class="arrow-right-short-icon"
                                         alt=""
                                         src="./public/arrowrightshort.svg" />
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <script>
        var brickhaven1Image = document.getElementById("brickhaven1Image");
        if (brickhaven1Image) {
            brickhaven1Image.addEventListener("click", function (e) {
                // Please sync "Landing Page" to the project
            });
        }

        var sHOPText = document.getElementById("sHOPText");
        if (sHOPText) {
            sHOPText.addEventListener("click", function (e) {
                // Please sync "Browse Products" to the project
            });
        }

        var aboutText = document.getElementById("aboutText");
        if (aboutText) {
            aboutText.addEventListener("click", function (e) {
                // Please sync "About Us" to the project
            });
        }

        var privacyText = document.getElementById("privacyText");
        if (privacyText) {
            privacyText.addEventListener("click", function (e) {
                // Please sync "Privacy Policy" to the project
            });
        }

        var logOutText = document.getElementById("logOutText");
        if (logOutText) {
            logOutText.addEventListener("click", function (e) {
                // Please sync "Landing Page" to the project
            });
        }

        var shoppingCartImage = document.getElementById("shoppingCartImage");
        if (shoppingCartImage) {
            shoppingCartImage.addEventListener("click", function (e) {
                window.location.href = "./shopping-cart.html";
            });
        }

        var iconarrow = document.getElementById("iconarrow");
        if (iconarrow) {
            iconarrow.addEventListener("click", function (e) {
                // Please sync "Browse Products" to the project
            });
        }

        var trashIcon2 = document.getElementById("trashIcon2");
        if (trashIcon2) {
            trashIcon2.addEventListener("click", function (e) {
                // Please sync "Deleted Item Shopping Cart" to the project
            });
        }
    </script>
