@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="not-found-alert">
    <div class="not-found-alert-div">
        <h3>Item added to cart.</h3>
        <a asp-page="/Cart" class="edit-button">See Cart</a> or <a asp-controller="Home" asp-action="Shop" class="edit-button2">Continue Shopping</a>
    </<div>
</div>
