@using Microsoft.AspNetCore.Identity
@model Cart
@{
}


<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Your order has been placed</h1>
<form method="post" asp-action="ConfirmedOrder" asp-controller="Home">
    @foreach (var item in Model.Lines)
    {
        <input type="hidden" name="lineProductId[]" value="@item.Product.ProductId" />
        <input type="hidden" name="lineQuantity[]" value="@item.Quantity" />
    }
    <button type="submit">Return to Shopping</button>
</form>
</div>
</div>