@{
    ViewData["Title"] = "Home Page";
}

<div class="hero">
    <div class="text-center">
        <h1>WELCOME TO BRICK HAVEN</h1>
        <h4>YOUR LEGO SET PARADISE</h4><br />
        <a class="button" style="" asp-controller="Home" asp-action="Shop">Get Started</a>
    </div>
</div>
