@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="">WELCOME TO BRICK HAVEN</h1>
    <h4>YOUR LEGO SET PARADISE</h4>
    <button onclick="">Get Started</button>
</div>
