@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<BrickHaven.Models.Product>


<div class="hero">
    <div class="text-center">
        <h1>WELCOME TO BRICK HAVEN</h1>
        <h4>YOUR LEGO SET PARADISE</h4><br />
        <a class="button" style="" asp-controller="Home" asp-action="Shop">Get Started</a>
    </div>
</div>
<div class="spacing" style="color: #555555">
    <h4>Check out our top picks!</h4>
        <div class="products-container" asp-for="ProductDetails">
            @foreach (var product in Model)
            {
                <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductId })" class="recommend-item">
                    <div class="product">
                        <img src="@product.ImgLink" class="recommend-img">
                        <h3 class="recommend-header">@product.Name</h3>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<div class="space-y"></div><br />
