@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImgLink" class="img-fluid" alt="Product Image">
        </div>
            <div class="col-md-6">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
                <p>@Model.Category</p>
            <p id="price"><strong>Price: $@Model.Price</strong></p>
                <form method="post">
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" class="form-control" value="1">

                        <label>Total Price: </label>
                        <p id="totalPrice">$@Model.Price</p>
                        <button type="submit" class="button">Add to Cart</button>
                    </div>
                </form>
            </div>
    </div>
</div>

<script>
    function calculateTotal() {
        var quantity = parseInt(document.getElementById('quantity').value);
        var price = parseFloat(document.getElementById('price').innerText.replace('Price: $', ''));
        var totalPrice = quantity * price;
        document.getElementById('totalPrice').innerText = '$' + totalPrice.toFixed(2);
        return false; // Prevent form submission
    }
</script>