@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="products-table">
      <header class="navbar3">
        <div class="privacy2">Privacy</div>
        <b class="products">Products</b>
        <div class="orders">Orders</div>
        <div class="users">Users</div>
        <div class="about2">About</div>
        <div class="log-out2">Log Out</div>
        <img
          class="shopping-cart-icon3"
          alt=""
          src="./public/shopping-cart@2x.png"
        />

        <div class="navbar-child1"></div>
        <img
          class="brickhaven-1-icon2"
          loading="lazy"
          alt=""
          src="./public/brickhaven-1@2x.png"
          id="brickhaven1Image"
        />

        <nav class="frame-nav">
          <nav class="frame-parent9">
            <div class="orders-wrapper">
              <h2 class="orders1" id="ordersText1">Orders</h2>
            </div>
            <div class="products-wrapper">
              <h2 class="products1">Products</h2>
            </div>
            <div class="users-wrapper">
              <h2 class="users1" id="usersText1">Users</h2>
            </div>
            <h2 class="log-out3" id="logOutText1">Log Out</h2>
          </nav>
        </nav>
      </header>
      <main class="frame-main">
        <div class="products-container">
          <h1 class="products2">Products</h1>
        </div>
        <section class="table">
          <div class="div">
            <div class="frame-parent10">
              <div class="show-parent">
                <div class="show">Show</div>
                <div class="parent7">
                  <div class="div1">8</div>
                  <img
                    class="bicaret-down-fill-icon"
                    alt=""
                    src="./public/bicaretdownfill.svg"
                  />
                </div>
                <div class="entries">entries</div>
              </div>
              <div class="akar-iconssearch-parent">
                <img
                  class="akar-iconssearch"
                  alt=""
                  src="./public/akariconssearch.svg"
                />

                <input class="search" placeholder="Search..." type="text" />
              </div>
            </div>
            <button class="fluentadd-16-filled-parent" id="frameButton">
              <img
                class="fluentadd-16-filled-icon"
                alt=""
                src="./public/fluentadd16filled.svg"
              />

              <b class="add-product">Add Product</b>
            </button>
          </div>
          <div class="table1">
            <div class="frame-parent11">
              <div class="product-id-wrapper">
                <b class="product-id"> Product ID</b>
              </div>
              <div class="product-wrapper">
                <b class="product">Product</b>
              </div>
              <div class="year-wrapper">
                <b class="year">Year</b>
              </div>
              <div class="number-of-parts-wrapper">
                <b class="number-of-parts">Number of Parts</b>
              </div>
              <div class="price-wrapper">
                <b class="price1">Price</b>
              </div>
              <div class="primary-color-wrapper">
                <b class="primary-color">Primary Color</b>
              </div>
              <div class="secondary-color-wrapper">
                <b class="secondary-color">Secondary Color</b>
              </div>
              <div class="description-wrapper">
                <b class="description">Description</b>
              </div>
              <div class="category-wrapper">
                <b class="category">Category</b>
              </div>
              <div class="action-wrapper">
                <b class="action">Action</b>
              </div>
            </div>
            <div class="frame-parent12">
              <div class="wrapper">
                <div class="div2">#17188</div>
              </div>
              <div class="unsplashh0angggseio-parent">
                <img
                  class="unsplashh0angggseio-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashh0angggseio@2x.png"
                />

                <div class="death-star">Death Star</div>
              </div>
              <div class="frame">
                <div class="div3">2021</div>
              </div>
              <div class="pc-wrapper">
                <div class="pc">1000pc</div>
              </div>
              <div class="wrapper1">
                <div class="div4">$4.95</div>
              </div>
              <div class="light-gray-wrapper">
                <div class="light-gray">Light gray</div>
              </div>
              <div class="dark-gray-wrapper">
                <div class="dark-gray">Dark gray</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper">
                <div class="my-new-lego">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper">
                <div class="star-wars3">Star Wars</div>
              </div>
              <div class="frame-wrapper10" id="frameContainer9">
                <div class="edit-1-2-parent">
                  <input class="edit-1-2" type="checkbox" />

                  <img
                    class="trash-2-2-icon"
                    loading="lazy"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent13">
              <div class="wrapper2">
                <div class="div5">#17188</div>
              </div>
              <div class="unsplashgi3iuj1fwxi-parent">
                <img
                  class="unsplashgi3iuj1fwxi-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashgi3iuj1fwxi@2x.png"
                />

                <div class="lego-name">Lego Name</div>
              </div>
              <div class="wrapper3">
                <div class="div6">2022</div>
              </div>
              <div class="pc-container">
                <div class="pc1">500pc</div>
              </div>
              <div class="wrapper4">
                <div class="div7">$8.95</div>
              </div>
              <div class="dark-gray-container">
                <div class="dark-gray1">Dark gray</div>
              </div>
              <div class="white-wrapper">
                <div class="white">White</div>
              </div>
              <div class="my-new-lego-death-star-no-w-container">
                <div class="my-new-lego1">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-container">
                <div class="star-wars4">Star Wars</div>
              </div>
              <div class="frame-wrapper11">
                <div class="edit-1-2-group">
                  <input class="edit-1-21" type="checkbox" />

                  <img
                    class="trash-2-2-icon1"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent14">
              <div class="wrapper5">
                <div class="div8">#17188</div>
              </div>
              <div class="unsplashynytv1dvmpi-parent">
                <img
                  class="unsplashynytv1dvmpi-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashynytv1dvmpi@2x.png"
                />

                <div class="lego-name1">Lego Name</div>
              </div>
              <div class="wrapper6">
                <div class="div9">2023</div>
              </div>
              <div class="pc-frame">
                <div class="pc2">400pc</div>
              </div>
              <div class="wrapper7">
                <div class="div10">$1,149.95</div>
              </div>
              <div class="red-wrapper">
                <div class="red">Red</div>
              </div>
              <div class="dark-gray-frame">
                <div class="dark-gray2">Dark gray</div>
              </div>
              <div class="my-new-lego-death-star-no-w-frame">
                <div class="my-new-lego2">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-frame">
                <div class="star-wars5">Star Wars</div>
              </div>
              <div class="frame-wrapper12">
                <div class="edit-1-2-container">
                  <input class="edit-1-22" type="checkbox" />

                  <img
                    class="trash-2-2-icon2"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent15">
              <div class="wrapper8">
                <div class="div11">#17188</div>
              </div>
              <div class="unsplashzmeftu11hpc-parent">
                <img
                  class="unsplashzmeftu11hpc-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashzmeftu11hpc@2x.png"
                />

                <div class="lego-name2">Lego Name</div>
              </div>
              <div class="wrapper9">
                <div class="div12">1999</div>
              </div>
              <div class="pc-wrapper1">
                <div class="pc3">10000pc</div>
              </div>
              <div class="wrapper10">
                <div class="div13">$899.95</div>
              </div>
              <div class="blue-wrapper">
                <div class="blue">Blue</div>
              </div>
              <div class="dark-gray-wrapper1">
                <div class="dark-gray3">Dark gray</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper1">
                <div class="my-new-lego3">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper1">
                <div class="star-wars6">Star Wars</div>
              </div>
              <div class="frame-wrapper13">
                <div class="edit-1-2-parent1">
                  <input class="edit-1-23" type="checkbox" />

                  <img
                    class="trash-2-2-icon3"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent16">
              <div class="wrapper11">
                <div class="div14">#17188</div>
              </div>
              <div class="unsplashlumj2zv5hue-parent">
                <img
                  class="unsplashlumj2zv5hue-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashlumj2zv5hue@2x.png"
                />

                <div class="lego-name3">Lego Name</div>
              </div>
              <div class="wrapper12">
                <div class="div15">2018</div>
              </div>
              <div class="pc-wrapper2">
                <div class="pc4">10000pc</div>
              </div>
              <div class="wrapper13">
                <div class="div16">$22.95</div>
              </div>
              <div class="black-wrapper">
                <div class="black">Black</div>
              </div>
              <div class="dark-gray-wrapper2">
                <div class="dark-gray4">Dark gray</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper2">
                <div class="my-new-lego4">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper2">
                <div class="star-wars7">Star Wars</div>
              </div>
              <div class="frame-wrapper14">
                <div class="edit-1-2-parent2">
                  <input class="edit-1-24" type="checkbox" />

                  <img
                    class="trash-2-2-icon4"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent17">
              <div class="wrapper14">
                <div class="div17">#73003</div>
              </div>
              <div class="unsplashztxed1cpb1e-parent">
                <img
                  class="unsplashztxed1cpb1e-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashztxed1cpb1e@2x.png"
                />

                <div class="lego-name4">Lego Name</div>
              </div>
              <div class="wrapper15">
                <div class="div18">2017</div>
              </div>
              <div class="pc-wrapper3">
                <div class="pc5">10000pc</div>
              </div>
              <div class="wrapper16">
                <div class="div19">$54.95</div>
              </div>
              <div class="dark-gray-wrapper3">
                <div class="dark-gray5">Dark gray</div>
              </div>
              <div class="black-container">
                <div class="black1">Black</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper3">
                <div class="my-new-lego5">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper3">
                <div class="star-wars8">Star Wars</div>
              </div>
              <div class="frame-wrapper15">
                <div class="edit-1-2-parent3">
                  <input class="edit-1-25" type="checkbox" />

                  <img
                    class="trash-2-2-icon5"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent18">
              <div class="wrapper17">
                <div class="div20">#58825</div>
              </div>
              <div class="unsplashl0xotanv94y-parent">
                <img
                  class="unsplashl0xotanv94y-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashl0xotanv94y@2x.png"
                />

                <div class="lego-clock">Lego Clock</div>
              </div>
              <div class="wrapper18">
                <div class="div21">2016</div>
              </div>
              <div class="pc-wrapper4">
                <div class="pc6">10000pc</div>
              </div>
              <div class="wrapper19">
                <div class="div22">$174.95</div>
              </div>
              <div class="dark-gray-wrapper4">
                <div class="dark-gray6">Dark gray</div>
              </div>
              <div class="black-frame">
                <div class="black2">Black</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper4">
                <div class="my-new-lego6">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper4">
                <div class="star-wars9">Star Wars</div>
              </div>
              <div class="frame-wrapper16">
                <div class="edit-1-2-parent4">
                  <input class="edit-1-26" type="checkbox" />

                  <img
                    class="trash-2-2-icon6"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
            <div class="frame-parent19">
              <div class="wrapper20">
                <div class="div23">
                  <span class="span">#</span>
                  <span class="span1">85252</span>
                </div>
              </div>
              <div class="unsplashkyw1eux1j7y-parent">
                <img
                  class="unsplashkyw1eux1j7y-icon"
                  loading="lazy"
                  alt=""
                  src="./public/unsplashkyw1eux1j7y@2x.png"
                />

                <div class="lego-name5">Lego Name</div>
              </div>
              <div class="wrapper21">
                <div class="div24">2017</div>
              </div>
              <div class="pc-wrapper5">
                <div class="pc7">10000pc</div>
              </div>
              <div class="wrapper22">
                <div class="div25">$6.948</div>
              </div>
              <div class="dark-gray-wrapper5">
                <div class="dark-gray7">Dark gray</div>
              </div>
              <div class="black-wrapper1">
                <div class="black3">Black</div>
              </div>
              <div class="my-new-lego-death-star-no-w-wrapper5">
                <div class="my-new-lego7">
                  My new LEGO Death Star... No way, how many pieces??
                </div>
              </div>
              <div class="star-wars-wrapper5">
                <div class="star-wars10">Star Wars</div>
              </div>
              <div class="frame-wrapper17">
                <div class="edit-1-2-parent5">
                  <input class="edit-1-27" type="checkbox" />

                  <img
                    class="trash-2-2-icon7"
                    alt=""
                    src="./public/trash2-2.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <footer class="next-nav">
            <div class="previous-parent">
              <div class="previous">Previous</div>
              <div class="product-table">
                <div class="div26">1</div>
              </div>
              <div class="product-table1">
                <div class="div27">2</div>
              </div>
              <div class="product-table2">
                <div class="div28">3</div>
              </div>
              <div class="next">Next</div>
            </div>
          </footer>
        </section>
      </main>
    </div>

    <script>
      var brickhaven1Image = document.getElementById("brickhaven1Image");
      if (brickhaven1Image) {
        brickhaven1Image.addEventListener("click", function (e) {
          // Please sync "ADMIN Landing Page" to the project
        });
      }
      
      var ordersText1 = document.getElementById("ordersText1");
      if (ordersText1) {
        ordersText1.addEventListener("click", function (e) {
          // Please sync "Orders Table" to the project
        });
      }
      
      var usersText1 = document.getElementById("usersText1");
      if (usersText1) {
        usersText1.addEventListener("click", function (e) {
          // Please sync "Users Table" to the project
        });
      }
      
      var logOutText1 = document.getElementById("logOutText1");
      if (logOutText1) {
        logOutText1.addEventListener("click", function (e) {
          // Please sync "Landing Page" to the project
        });
      }
      
      var frameButton = document.getElementById("frameButton");
      if (frameButton) {
        frameButton.addEventListener("click", function (e) {
          window.location.href = "./add-edit-products.html";
        });
      }
      
      var frameContainer9 = document.getElementById("frameContainer9");
      if (frameContainer9) {
        frameContainer9.addEventListener("click", function (e) {
          window.location.href = "./add-edit-products.html";
        });
      }
      </script>
