@page
@model BrickHaven.Pages.CartModel
@{
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>


<h1 class="list-header">Shopping Cart</h1>

<div class="table-container">
    <table class="product-table-unlike-any-other">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-left">$@l.Price</td>
                <td class="text-left">@l.Quantity</td>
                <td class="text-right">$@(l.Price * l.Quantity)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>
</div><br /><br /><br />

<div class="text-center">
    <a class="button" href="@Model.ReturnUrl"></a>
</div>