@{
    ViewData["Title"] = "Error";
}

<h3>
    An error occured while processing your request.
    The support team is notified and we are working on the fix
</h3>
<h5>If it is urgent, please contact us at noreply.brickhaven@gmail.com</h5>