@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>


<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Change Password</h1>
        <form method="post" asp-action="ChangePassword" asp-controller="Account">
            <div asp-validation-summary="All" class=""></div>

            <div class="">
                <label asp-for="OldPassword"></label><br />
                <input asp-for="OldPassword" class="" />
                <span asp-validation-for="OldPassword" class=""></span>
            </div>

            <div class="">
                <label asp-for="NewPassword"></label><br />
                <input asp-for="NewPassword" class="" />
                <span asp-validation-for="NewPassword" class=""></span>
            </div>

            <div class="">
                <label asp-for="ConfirmPassword"></label><br />
                <input asp-for="ConfirmPassword" class="" />
                <span asp-validation-for="ConfirmPassword" class=""></span>
            </div><br />

            <button type="submit" class="button">Update</button>
        </form>
    </div>
</div>