@{
    ViewData["Title"] = "Change Password Confirmation";
}

<a class="" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/circle-chevron-left.svg" class="home-icon-nav" /></a>

<div class="not-found-alert">
    <div class="not-found-alert-div">
        <h4>
            Your password is successfully changed.
        </h4>
    </div>
</div>

