@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="sign-in-container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-container">
                <h1 class="fp-h1">Forgot Password?</h1><br />
                <h5 class="text-center">Enter your email to retrieve your password</h5><br />

                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span><br />

                    <div class="form-group text-center">
                        <button type="submit" class="button">Submit</button>
                    </div><br /><br /><br /><br /><br />
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <img src="~/assets/lego-fp.jpg" class="lego-guy-sign-in" />
        </div>
    </div>
</div>