@{
    ViewData["Title"] = "Manage Two Factor Authentication";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>

<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Two Factor Authentication</h1><br />
        <form method="post" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">
            <div class="">
                <label>Enter the verification code sent to your email</label><br /><br />
                <input type="text" name="Token" id="Token" class="" />
            </div><br /><br />

            <button type="submit" class="button">Submit</button><br />
        </form>
    </div>
</div>