@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>

<div class="sign-in-container">
    <div class="center-form">
        <div class="form-container">
            <h1 class="login-h1">Register</h1><br />

            <form method="post">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div>
                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                </div><br />

                <div class="form-group text-center">
                    <button type="submit" class="button">Register</button>
                    <button type="button" class="button" style="width:auto" onclick="history.back()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="responsive-img">
            <img src="~/assets/lego-register.jpg" class="lego-guy-sign-in" />
        </div>
    </div>
</div>