@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<a class="" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/circle-chevron-left.svg" class="home-icon" /></a>

<div class="sign-in-container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-container">
                <h1 class="login-h1">Register</h1>
                <h5 class="text-center">Let’s get you on your way to enjoying your new LEGO sets!</h5><br />

                <form method="post">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />

                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    <div>
                        <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                    </div><br />

                    <div class="form-group text-center">
                        <button type="submit" class="button">Register</button>
                        <button type="button" class="button" style="width:auto" onclick="history.back()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <img src="~/assets/lego-register.jpg" class="lego-guy-sign-in" />
        </div>
    </div>
</div>