@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<div class="not-found-alert">
    <div class="not-found-alert-div">
        <h4>
            Your password is reset. Please click <a asp-action="Login" asp-controller="Account">here to login</a>
        </h4>
    </div>
</div>