@{
    ViewData["Title"] = "TwoFactorAuthenticationSuccessful";
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>


<h1 class="admin-table-header">@ViewBag.Message </h1>