@using Microsoft.AspNetCore.Identity

@model UpdateProfileViewModel
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@{
    ViewBag.Title = "Update Profile";

    var userDetail = await UserManager.GetUserAsync(User);
}

<button type="button" class="back-button" onclick="history.back()"><img src="~/assets/circle-chevron-left.svg" class="back-icon" /></button>


<div class="center-admin-form">
    <div class="admin-form-container">
        <h1 class="admin-table-header">Edit Profile</h1>

<form method="post" class="">
    <div class="">
        <label asp-for="UserName" class=""></label>

        <div class="">
            <input asp-for="UserName" class="">
            <span asp-validation-for="UserName" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="Email" class=""></label>

        <div class="">
            <input asp-for="Email" class="">
            <span asp-validation-for="Email" class=""></span>
        </div>
    </div>

    <div class="">
        <label asp-for="FirstName" class=""></label>

        <div class="">
            <input asp-for="FirstName" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="LastName" class=""></label>

        <div class="">
            <input asp-for="LastName" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Birthday" class=""></label>

        <div class="">
            <input asp-for="Birthday" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="ResidenceCountry" class=""></label>

        <div class="">
            <input asp-for="ResidenceCountry" class="">
        </div>
    </div>

    <div class="">
        <label asp-for="Gender" class=""></label>

        <div class="">
            <input asp-for="Gender" class="">
        </div>
    </div>

    <div asp-validation-summary="All" class=""></div>

    <div class="">
        <div class="">
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="alert alert-success" role="alert">
                    @ViewBag.SuccessMessage
                </div>
            }

            <button type="submit" class="create-button">Update</button>
            <button type="button" class="cancel-button" onclick="history.back()">Back</button>
        </div>
    </div>
</form><br />
        <a class="" asp-controller="Account" asp-action="ChangePassword">Change Password</a><br />

        @if (userDetail != null)
        {
            @if (userDetail.TwoFactorEnabled)
            {
                <a class="" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">Disable 2FA</a>
            }
            else
            {
                <a class="" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">Enable 2FA</a>
            }
        }
        else
        {
            <span class="dropdown-item disabled">No users found</span>
        }
</div>
</div>

